html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Header Section*/

.hero {
    width: 0 auto;
    height: 500px;
}

.hero-image {
    background-image: url("../img/header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #006db3;
}


p.present {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-transform: uppercase;
}

.topic {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: #006db3;
}

.cd_title {
    font-family: 'Oswald', sans-serif;
    color: #006db3;
    font-size: 25px;
}

.btn {
    letter-spacing: 1px;
    text-decoration: none;
    background: none;
    -moz-user-select: none;
    background-image: none;
    border: 15px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 15px solid;
    padding: 8px 20px;
}

a {
    text-decoration: none;
    color: #006db3;
}

a.btn-lg {
    margin-top: 25px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #006db3;
    border-color: #006db3;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #000000;
    border-color: #000000;
}

.btn-lg {
    font-size: 18px;
    line-height: 22px;
    border: 4px solid;
    padding: 13px 40px;
}

/*Pemateri Section*/

.judul {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    text-transform: uppercase;
}

/*Particle*/

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    height: 500px;
}

/*Countdown*/

div#countdown {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 10px 10px;
}
